body {
	font-family: Verdana;
	width: 90%;
	margin-left: 5%;

}

header {
	padding: 1vh 1vw;
	margin-bottom: 1vh;
}

#contenido{
	margin: 1%;
	text-align: center;
}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: center;
}

.adaptativa-porcentaje{
	width:90%;
}

.adaptativa-porcentaje-1{
	width: 70%;
}

.adaptativa-porcentaje-2{
	width: 50%;
}

.adaptativa-porcentaje-3{
	width: 20%;
}

@media (min-width:300px){

	body{
	font-size: 10px;
	color: blue;
	.adaptativa-porcentaje {
		width: 0%;
	}
	}
}

@media (min-width:600px){

	body{
	font-size: 14px;
	color: red;
	.adaptativa-porcentaje {
		width: 90%;
	}
}

@media (min-width:900px){
	body{
		font-size: 16px;
		color: black;
		.adaptativa-porcentaje {
			width: 90%;
		}
	}

	













/* Agrega una regla usando media queries para que 
cuando se tenga m치s de 600px de ancho se coloque el tama침o de letra a 16px y color rojo. */


/* Agrega una regla usando media queries para que
cuando se tenga m치s de 900px de ancho se coloque el tama침o de letra a 14px y color negro */